.showCard {
    background-color: pink;
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 250px;
    height: 350px;
    padding:30px;
    border:white solid 4px;
    
}

.list{
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    list-style: none;

}

.img {
    width: 50px;
    height:50px;
    display: block;
}




.fav {
 background-color: red;
 }



