.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main {
  position: relative;
  // background-image: url(../../images/cinema-3700545_1920.jpg);
  background-color: pink;
  height: 100vh;

  &__section {
    // border: solid 3px black;
    // height: 100vh;
    // width: 100%;
    // background-color: lightgray;

    &__form {
      height: 40px;
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__input {
        padding-left: 10px;
        margin-right: 10px;
        margin-left: 30px;
        height: 30px;
      }
      &__btn {
        border-radius: 20px;
        width: 60px;
        height: 30px;
        border-style: none;
      }
    }
  }

  .list {
    list-style: none;
    display: grid;
    margin-left: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .showCard {
    background-color: pink;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 250px;
    height: 350px;
    border: solid white 3px;
    color: purple;
  }

  .showCardRev {
    background-color: purple;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 250px;
    height: 350px;
    border: solid white 3px;
  }
}

.favStorage {
  width: 270px;
  position: absolute;
  top: 100px;
}

.favLi {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  width: 250px;
  height: 350px;
  border: solid white 3px;
  color: white;
}

.btnFav {
  width: 30px;
  height: 30px;
}
