.main {
    position:relative;
    
 

&__section {
   background-color: white;
}

.list{
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    list-style: none;
    border:solid white 5px;
    margin-left: 500px;

}

.showCard {
    background-color: pink;
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 250px;
    height: 350px;
    border:solid white 3px;
    color:purple;

    
}


.showCardRev {
    background-color: purple;
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 250px;
    height: 350px;
    border:solid white 3px;
    color:pink;

    }


    .favStorage {
       
        width: 270px;
        position:absolute;
        top: 100px;
        
        
    }


    .favLi {
    background-color: pink;
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 250px;
    height: 350px;
    border:solid white 3px;
    color:purple;
    
    }




}



